<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
</head>
<body>
<!-- <footer> 标签是 HTML 5 中的新标签。 
bg-inverse boostrap中定义的样式 背景为黑色http://wiki.jikexueyuan.com/project/bootstrap4/components/navbar/

-->
<footer class="bolg-footer bg-inverse" data-th-fragment="footer">
	<a id="goToTop" href="#">
		<i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>
	</a>
	
	<!-- <div class="container">
		<p class="m-0 text-center text-white"><span>Powered by waylau 2018 @</span><a href="http://waylau.com">waylau.com</a></p>
	</div> -->
	<!-- JavaScript -->
	<script src="" th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script src="" th:src="@{/js/jquery.form.min.js}"></script>
	<script src="" th:src="@{/js/tether.min.js}"></script>
	<script src="" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="" th:src="@{/js/nprogress.js}"></script>
	<script src="" th:src="@{/js/thinker-md.vendor.min.js}"></script>
	<script src="" th:src="@{/js/jquery.tagsinput.min.js}"></script>
	<script src="" th:src="@{/js/chosen.jquery.js}"></script>
	<script src="" th:src="@{/js/toastr.min.js}"></script>
	<script src="" th:src="@{/js/cropbox.js}"></script>
	<script src="" th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
	<script src="" th:src="@{/js/catalog-generator.js}"></script>
</footer>
</body>  
</html>