<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  th:fragment="header">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- CSRF 
		会把csrf的token嵌入到页面里面
		发送请求时然后用js取到就ok了
		delete put等请求
		post表单请求 thymeleaf已经内嵌token了
	-->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	
	<!-- Tether core 
		Tether是用来处理绝对布局的,boostrap底层依赖它来实现的,比如:tooltip(鼠标移动到某一控件,显示一段提示信息,提示信息和触发组件所处的位置,有一定关系
		还比如鼠标点击,弹出一个对话框,居中显示,这种涉及到位置的,都是由Tether来处理的
		) 模式窗口 
		CSS 上下文相对路径,自动添加上下文路径在相对路径之前  /blog/css/....css-->
	<link href="" th:href="@{/css/tether.min.css}" rel="stylesheet">
	<!-- Bootstrap CSS -->
	<link href="" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Font-Awesome CSS 图标库-->
	<link href="" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
	<!-- NProgress CSS 进度条-->
	<link href="" th:href="@{/css/nprogress.css}" rel="stylesheet">
	<!-- thinker-md CSS -->
	<link href="" th:href="@{/css/thinker-md.vendor.css}" rel="stylesheet">
	<!-- jQuery tags CSS 标签插件-->
	<link href="" th:href="@{/css/jquery.tagsinput.min.css}" rel="stylesheet">
	<!-- bootstrap chosen CSS 下拉插件-->
	<link href="" th:href="@{/css/component-chosen.min.css}" rel="stylesheet">
	<!-- toastr CSS toastr是一个基于jQuery简单、漂亮的消息提示插件，使用简单、方便，可以根据设置的超时时间自动消失。-->
	<link href="" th:href="@{/css/toastr.min.css}" rel="stylesheet">
	<!-- jQuery image cropping plugin CSS jQuery头像裁剪插件--> 
	<link href="" th:href="@{/css/cropbox.css}" rel="stylesheet">
	<!-- Custom styles 自定义CSS-->
	<link href="" th:href="@{/css/style.css}" rel="stylesheet">
	<link href="" th:href="@{/css/thymeleaf-bootstrap-paginator.css}" rel="stylesheet">
	<link href="" th:href="@{/css/blog.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse">
       		 <span class="navbar-toggler-icon"></span>
      	</button>
		<a class="navbar-brand" href="#" th:href="@{~/}">小米博客园</a>
		<div class="collapse navbar-collapse" id="navbarCollapse">
	        
	        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" th:attr="url='/blogs?order=new'" >最新 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" th:attr="url='/blogs?order=hot'">最热</a>
                </li>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="搜索" id="indexkeyword" th:value="${keyword}">
                    <a href="javascript:void(0)" class="btn btn-outline-secondary my-2 my-sm-0" id="indexsearch"><i class="fa fa-search"
                                                                                             aria-hidden="true"></i></a>
                </form>

            </ul>
            
             <div sec:authorize="isAuthenticated()"  class="row" >
				<div class="dropdown">
					<a class=" dropdown-toggle" href="/u/waylau" th:href="@{'/u/' + ${#authentication.name}}" data-toggle="dropdown"><span sec:authentication="name"></span></a>
					<div class="dropdown-menu" >
						<a class=" dropdown-item" href="/u/waylau" th:href="@{'/u/' + ${#authentication.name}}">个人主页</a> 
						<a class="dropdown-item" href="/u/waylau/profile" th:href="@{'/u/' + ${#authentication.name}} + '/profile'" >个人设置</a>
					</div>
				</div>
				
				<div>
					<a th:href="'/u/' + ${#authentication.name} + '/blogs/edit'" class="btn btn-outline-success my-2 my-sm-0" >写博客</a>
				</div>
				
				<form action="/logout" th:action="@{/logout}" method="post">
					<input class="btn btn-outline-success " type="submit" value="退出">
				</form> 
             </div> 
 
                 

             <div sec:authorize="isAnonymous()">
                <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">登录</a>
                <a href="/register" class="btn btn-outline-success my-2 my-sm-0" type="submit">注册</a>
             </div>
		
        </div>
	</div>
</nav>
</body>
</html>